#replyIcon {
  transform: scaleX(-1);
}

.centerHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.adminTable {
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #222222;
}

.adminTable tr:hover {
  box-shadow: inset 0px 0px 0px 5px #4b0082;
}

.adminTable tr td, .adminTable tr th {
  padding: 10px;
  color: #b4b4b4;
  text-align: left;
}

.adminTable tr th {
  font-weight: 700;
}

.tileImage {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0;
  height: 180px;
  padding: 0;
  border: 0;
  transition: transform .1s;
  z-index: 0;
}

.tileImage:hover {
  transform: scale(2);
  z-index: 1;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  background-color: #333333;
}

#navbar img {
  height: 20;
  padding: 20px 10px 20px 10px;
}

.hasTooltip {
  position: relative;
}

.hasTooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.hasTooltip .tooltipText {
  pointer-events: none;
  visibility: hidden;
  width: 120px;
  background-color: #750000;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 220%;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.loadingIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.loadingIcon #blue {
  fill: #009cdc;
}

.loadingIcon #orange {
  fill: #f18f20;
}

.loadingIcon #pink {
  fill: #ec0089;
}

body, h1, p, #navbar {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

body {
  text-align: center;
  font-family: 'Roboto', serif;
  background-color: #222222;
}

p, a, label, li {
  font-size: 20px;
  color: white;
}

img {
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.vuebutton {
  display: inline-flex;
  flex-direction: row;
  background-color: #4b0082;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 5px;
}

.vuebutton:hover {
  background-color: #5d1a8f;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.vuebutton.disabled {
  cursor: initial;
  background-color: #b3b3b3;
  color: grey;
  box-shadow: initial;
}

.vuebutton p {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  padding: 5px;
  margin: 0px;
  font-size: 17px;
}

input[type=text], input[type=email], input[type=password] {
  border: none;
  font-size: 16px;
  width: auto;
  padding: 5px;
}

.tab {
  box-sizing: border-box;
  display: inline-flex;
  height: 60px;
  text-decoration: none;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid transparent;
}

.tab .material-icons {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.tab p {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  color: inherit;
}

.tab:hover {
  cursor: pointer;
  color: white;
  border-color: #4b0082;
}

.tab.selected {
  border-color: #4b0082;
  color: white;
}

#main {
  display: inline-block;
  width: auto;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.card {
  background-color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#rules li {
  margin-bottom: 20px;
}

#buttonRow {
  margin-top: 10px;
}

#loginDiv {
  display: flex;
  flex-direction: column;
}

#loginDiv label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.error {
  margin-top: 10px;
  color: red;
}

#userName {
  color: white;
  margin-right: 10px;
}

.tables .section {
  margin-top: 20px;
}

.tables ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: row;
}

.tables ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 15px;
  background-color: #00b402;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.tables ul li a:hover {
  background-color: #33c335;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  z-index: 1;
}

.tables ul li a.booked {
  background-color: #4b0082;
}

.tables ul li a.selected {
  box-shadow: inset 0px 0px 0px 5px #4b0082;
}

.tables ul li a.taken {
  background-color: #750000;
  cursor: initial;
}

.tables ul li a.taken:hover {
  background-color: #913333;
}
