$mainDark: #333333;
$background: #222222;
$accent: #4b0082;
$accent2: #c400e5;
$text: white;
$itgBlue: #009cdc;
$itgPink: #ec0089;
$itgOrange: #f18f20;
$selectGreen: #00b402;
$selectRed: #750000;

#replyIcon {
	transform: scaleX(-1);
}

.centerHorizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.adminTable {
	margin-top: 20px;
	border-collapse: collapse;
	background-color: $background;
	tr {
		&:hover {
			box-shadow:inset 0px 0px 0px 5px $accent;
		}
		td, th {
			padding: 10px;
			color: #b4b4b4;
			text-align: left;
		}
		th {
			font-weight: 700;
		}
	}
}

.tileImage { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0;
	height: 180px;
	padding: 0;
	border: 0;
	transition: transform .1s;
	z-index: 0;
	&:hover {
		transform: scale(2);
		z-index: 1;
	}
}

#navbar {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
	background-color: $mainDark;
	img{
		height: 20;
		padding: 20px 10px 20px 10px;
	}
}

.hasTooltip {
  position: relative;
	&:hover .tooltipText {
		visibility: visible;
		opacity: 1;
	}
	.tooltipText {
		pointer-events: none;
		visibility: hidden;
		width: 120px;
		background-color: $selectRed;
		color: white;
		text-align: center;
		border-radius: 5px;
		padding: 10px;
		position: absolute;
		z-index: 1;
		bottom: 220%;
		left: 50%;
		margin-left: -70px;
		opacity: 0;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
}

.loadingIcon {
	display: inline-block;
	width: 30px;
	height: 30px;
	#blue {
		fill: $itgBlue;
	}
	#orange {
		fill: $itgOrange;
	}
	#pink {
		fill: $itgPink;
	}
}

body, h1, p, #navbar {
  margin: 0;
  padding: 0;
}

h1, h2 {
	margin-bottom: 20px;
	color: $text;
	text-align: center;
}

body {
  text-align: center;
  font-family: 'Roboto', serif;
  background-color: $background;
}

p, a, label, li{
  font-size: 20px;
  color: $text;
}

img{
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.vuebutton {
    display: inline-flex;
    flex-direction: row;
    background-color: $accent;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    padding: 5px;
    &:hover {
        background-color: mix($accent, white, 90%);
        box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    &.disabled {
        cursor: initial;
        background-color: #b3b3b3;
        color: grey;
        box-shadow: initial;
    }
    p {
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        padding: 5px;
        margin: 0px;
        font-size: 17px;
    }
}

input[type=text], input[type=email], input[type=password] {
	border: none;
	font-size: 16px;
	width: auto;
	padding: 5px;
}

.tab {
	box-sizing: border-box;
	display: inline-flex;
	height: 60px;
	text-decoration: none;
	font-weight: 700;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid transparent;
	.material-icons {
		margin: 0;
		padding: 0;
		font-size: 15px;
	}
	p{
		display: inline-block;
		font-size: 16px;
		padding: 20px;
		color: inherit;
	}
	&:hover {
		cursor: pointer;
		color: white;
		border-color: $accent;
	}
	&.selected {
		border-color: $accent;
		color: white;
	}
}

#main {
	display: inline-block;
	width: auto;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
}

.card {
	background-color: $mainDark;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

}

#rules {
	li {
		margin-bottom: 20px;
	}
}

#buttonRow {
	margin-top: 10px;
}

#loginDiv {
	display: flex;
	flex-direction: column;
	label{
		display: block;
		margin-top: 20px;
		margin-bottom: 5px;
	}
}

.error {
	margin-top: 10px;
	color: red;
}

#userName {
	color: $text;
	margin-right: 10px;
}

.tables{
	.section {
		margin-top: 20px;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: auto;
		display: flex;
		flex-direction: row;
		li{
			a{
				position: relative;
				color: black;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				padding: 15px;
				background-color: $selectGreen;
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				&:hover{
					background-color: mix($selectGreen, white, 80%);
					box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
					cursor: pointer;
					z-index: 1;
				}
				&.booked {
					background-color: $accent;
				}
				&.selected {
					box-shadow:inset 0px 0px 0px 5px $accent;
				}
				&.taken {
					background-color: $selectRed;
					cursor: initial;
					&:hover {
						background-color: mix($selectRed, white, 80%);
					}
				}
			}
		}
	}
}